<div class="toolbar" role="banner">
    <button mat-button (click)="goBack()">Voltar</button>
    <button mat-button [matMenuTriggerFor]="itemsMenu">Dropdown Button</button>
    <mat-menu #itemsMenu="matMenu">
        <a mat-menu-item href="https://www.google.com.br" target="_blank">Google</a>
        <button mat-menu-item (click)="DropdownbuttonFoo()">Foo</button>
        <button mat-menu-item (click)="DropdownbuttonBar()">Bar</button>
    </mat-menu>
    <div class="spacer"></div>
    <button mat-button [matMenuTriggerFor]="itemsUser" id="user">
        <mat-icon>person</mat-icon>{{user}}
    </button>
    <mat-menu #itemsUser="matMenu">
        <div mat-menu-item>Access Level: {{accessLevel}}</div>
        <button type="submit" mat-menu-item (click)="Logout()">
            <mat-icon>logout</mat-icon>Log out
        </button>
    </mat-menu>
</div>