<div class="container">
  <div class="container-header">
    <h1>{{title}}</h1>
    <button mat-icon-button mat-dialog-close style="width: 50px; height: 50px;">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div style="padding: 10px;">
    <mat-form-field style="width: 100%;">
      <mat-label>User ID</mat-label>
      <input [(ngModel)]="purchase.userID" matInput placeholder="User ID" #input>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Product Name</mat-label>
      <input [(ngModel)]="purchase.name" matInput placeholder="Product Name" #input>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Order Date</mat-label>
      <input [(ngModel)]="purchase.orderDate" matInput placeholder="Order Date" type="date" #input>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Total</mat-label>
      <input [(ngModel)]="purchase.total" matInput placeholder="Total" type="number" #input>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close color="primary" (click)="Insert()">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>
</div>